@model IEnumerable<BookModel>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
    </div>
    <div class="d-flex justify-content-end mb-3">
        <a class="btn btn-outline-success btn-sm" asp-controller="Books" asp-action="Create">Cadastrar Livro</a>
    </div>

    <div class="card-body">
        <table id="datatablesBook">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Year publication</th>
                    <th>Literary Genre</th>
                    <th>Imagem</th>
                    <th>ações </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Year publication</th>
                    <th>Literary Genre</th>
                    <th>Imagem</th>
                    <th>ações </th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var book in Model)
                {
                   <tr> 
                       <td>@book.Title </td>
                       <td>@book.Author </td>
                       <td>@book.Price </td>
                       <td>@book.YearPublication </td>
                       <td>@book.LiteraryGenre </td>
                       <td> <img src="~/assets/img/@book.ImageBook" width="60"/> </td>
                       <td style="white-space:nowrap">
                           <a class="btn btn-primary" asp-controller="Books" asp-action="Edit" asp-route-id="@book.Id">Editar</a>
                            <a class="btn btn-danger" asp-controller="Books" asp-action="Delete" asp-route-id="@book.Id">Apagar</a>

                       </td>
                  </tr>
                }
            </tbody>
        </table>
    </div>
</div>
                    