@model IEnumerable<LoanModel>
<div class="container">
    @if (TempData["messageSucess"] != null)
    {
        <div id="success-alert" class="alert alert-success text-light" role="alert">
            @TempData["messageSucess"]
        </div>

    }

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Locação de livros
        </div>
        <div class="d-flex justify-content-end mb-3">
            <a class="btn btn-outline-success btn-sm" asp-controller="Loans" asp-action="Create">Cadastrar locação</a>
        </div>

        <div class="card-body">
            <table id="datatablesBook">
                <thead>
                    <tr>
                        <th>Nome cliente</th>
                        <th>título</th>
                        <th>data locação</th>
                        <th>data devolução</th>
                        <th>valor locação</th>
                        <th>ações </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Year publication</th>
                        <th>Literary Genre</th>
                        <th>ações </th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var loans in Model)
                    {
                        <tr>
                            <td>@loans.Customer.Name </td>
                            <td>@loans.Book.Title </td>
                            <td>@loans.DateLoan.ToString("dd/MM/yyyy") </td>
                            <td>@loans.DateReturn.ToString("dd/MM/yyyy")</td>
                            <td>@loans.ValueRequest </td>
                            <td style="white-space:nowrap">
                                <a class="btn btn-primary" asp-controller="Books" asp-action="Edit" asp-route-id="@loans.Id">editar</a>
                                <a class="btn btn-danger" asp-controller="Books" asp-action="Return" asp-route-id="@loans.Id">Devolução</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
